<div class="d-flex flex-column col-6 registration-input-wrap m-auto">
  <div>
    <span class="mx-3">Логин</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>

  <div>
    <span class="mx-3">Пароль</span>
    <input type="password" class="mt-3"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>

  <div>
    <span class="mx-3">Подтверждение пароля</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>

  <div>
    <span class="mx-3">Почта</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="email"/>
  </div>

  <div>
    <span class="mx-3">Номер VIP-карты</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="cardNumber"/>
  </div>

</div>

<div class="mt-5 d-flex justify-content-center">
  <button [disabled]="!login || !psw || !pswRepeat"
          type="button"
          (click)="registration($event)"
          class="btn btn-success"> Зарегистрироваться</button>
</div>
